* {
	background-color: white
}


#nav-bar{
	position: absolute;
	width: 100%;
	display: inline-block;
	padding-right: 40px;
}

#nav-bar li {
	list-style: none;
	margin-right: 40px;
	padding-left: 5px;
	line-height: 10px;
	position: relative;
	display: inline-block;
	float:right;
	z-index: 1;
	
}

#content-wrapper {
	position: relative;
	display: block;
	margin:auto;
	text-align: center;
	overflow: hidden;
	}

#logo{	
	padding-top: 100px;
	position: relative;
	margin-bottom: 10px;

}

#clear {

	clear:both;
}
#searchspace{
width: 100%;
position: relative;
height: 60px;
background-color: white;
text-align: center;
}

#formbox {
	position: relative;
	max-width: 2048px;
	width: 450px;
	height: 30px;
	line-height: 26px;
	margin-top: 10px;
	border: 1px #b8b8b8 solid;
	-webkit-appearance: textfield;


}

#buttonarea {
	position: inherit;
	text-align: center;
	width: 100%
}

.button {
	background-color: #f1f1f1;
	width: 150px;
	height: 26px;
	display: inline-block;
	color:#888;
	padding-top: auto;
	padding-bottom: auto;
}




